$all-colors: map-merge-multiple($theme-colors, $colors);

:root {
    --ou-block-bg: #ffffff;
}

:root[dark-mode] {
    --bs-body-color: #fff;
    --bs-body-bg: #000;
    --bs-white: #000;
    --bs-gray-100: #212529;
    --bs-gray-200: #343a40;
    --bs-gray-300: #495057;
    --bs-gray-400: #6c757d;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #ced4da;
    --bs-gray-700: #dee2e6;
    --bs-gray-800: #e9ecef;
    --bs-gray-900: #f8f9fa;
    --bs-black: #fff;
    --ou-block-bg: var(--bs-gray-100);
}

[dark-mode] {
    [class*='border'] {
        border-color: var(--bs-gray-300) !important;
    }
    @each $colorName, $color in $all-colors {
        .btn-#{$colorName}-soft {
            @if ($colorName == 'dark') {
                @include button-variant(transparent, #adb5bd, #adb5bd, #adb5bd, #adb5bd, $active-background: #adb5bd);
            } @else {
                @include button-variant(transparent, $color, $color, $color, $color, $active-background: $color);
            }
            &:hover, &:focus {
                box-shadow: 0 4px 11px rgba($color, 0.35);
            }
        }
    }
    .btn-link {
        color: var(--bs-gray-600);
    }
}

@each $color, $value in $all-colors {
    .ou-bg-#{$color} {
        color: color-contrast($value);
        background-color: $value;
    }
}

@each $colorName, $color in $all-colors {
    .btn-#{$colorName}-soft {
        @include button-variant(rgba($color, 0.1), transparent, $color, $color, $color, $active-background: $color);
        &:hover, &:focus {
            box-shadow: 0 4px 11px rgba($color, 0.35);
        }
    }
}

.ou-popup-container {
    min-width: 40rem;
    background-color: var(--bs-gray-300);
    .header {
        background-color: var(--ou-block-bg);
        .logo {
            max-height: 30px;
        }
    }
    .ou-link-container {
        .ou-link {
            background-color: var(--ou-block-bg);
            transition: 0.2s;
            .link {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
            .ou-icon-container {
                height: 30px;
                width: 30px;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}

// Options Page
.ou-options-container {
    margin: 40px auto 20px;
    width: 550px;
    .ou-options-box {
        .logo {
            max-height: 50px;
        }
        hr {
            background-color: var(--bs-gray-500);
        }
    }
    .ou-options-footer {
        .logo {
            max-height: 35px;
        }
    }
}
